@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --check: #6cc0e5;
  --transition-speed: 600ms;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 9;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ab7eff;
}

.fa-secondary {
  color: #5f49df;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
  .top_link {
    display:none;
  }
  .form__group {
    width:100%;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --check: #6cc0e5;
}

.light {
  --text-primary: #cc1616;
  --text-secondary: #000000;
  --bg-primary: #ececec;
  --bg-secondary: #ffffff;
  --check: #fc0000;
}

.solar {
  --text-primary: #cefcb8;
  --text-secondary: #9aff97;
  --bg-primary: #062c01;
  --bg-secondary: #0e1b0b;
  --check: #70e56c;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}


/* Style the tab content */
.tabcontent {
  padding: 6px 6px;
} 

/* Style the header */
.header {
  padding: 0px;
  text-align: right;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  padding: 10px;

  
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  margin: 10px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  min-width: 240px;

 
}

/* Style the footer */
.footer {
  padding-right: 20px;
  text-align: right;
}
/* Style the links */
.top_link {
  padding-right: 20px;
  text-align: right;
}
/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right:20px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: var(--text-secondary);
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--check);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.form__group {
  position: relative;
  padding: 0px 0 0;
  margin-top: 0px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 75%;
  border: 0;
  border-bottom: 2px solid var(--text-primary);
  outline: 0;
  font-size: 1.3rem;
  color:var(--text-secondary);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
  body::placeholder {
    color: transparent;
  }

  body:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }


.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color:var(--text-primary);
}

.btn_default{
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  height: 40px;
  min-width: 120px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.btn_default:hover,
.btn_default:focus{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);

}
#preset{
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  height: 40px;
  min-width: 180px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
.textarea{
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color:var(--text-secondary);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

h3{
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 5px;
}
h1{
  margin-bottom:0;
}

.buttons.lol{
  padding-left: 20px;
}

.grid{
  display:grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  /*explicit grid*/
}

.grid-item{
  background-color: var(--bg-primary);
}

.grid-header{
  grid-column: 1 / 4;
}